<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <h4 class="logo">Kim's Recipe Guide</h4>
            <nav>
                <ul>
                    <li><a class="navlink" href="/">Home</a></li>
                    <li><a class="navlink" href="/About">About</a></li>
                    <li><a class="navlink" href="/Categories">Categories</a></li>
                    <li><a class="navlink" href="/FAQ">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 id="title">Categories</h1>
    <div class="grid-container">
        @* Grid Style Elements *@
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
        <div class="grid-item">
            <h3>Image Placeholder</h3>
            <a href="">Link Placeholder</a>
        </div>
    </div>
</body>

</html>
