<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <h4 class="logo">Kim's Recipe Guide</h4>
            <nav>
                <ul>
                    <li><a class="navlink" href="/">Home</a></li>
                    <li><a class="navlink" href="/About">About</a></li>
                    <li><a class="navlink" href="/Categories">Categories</a></li>
                    <li><a class="navlink" href="/FAQ">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 id="title">FAQ</h1>
    <p class="faqText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in erat laoreet, venenatis quam
        ut, ornare sem. Quisque ac scelerisque eros, a interdum quam. Vestibulum ornare consectetur velit non faucibus.
        Maecenas bibendum, lectus in vulputate condimentum, felis velit luctus ex, scelerisque tincidunt sapien nulla
        vel augue. Aenean suscipit, metus sit amet efficitur luctus, velit nibh fringilla magna, ac sodales felis sapien
        quis quam. Praesent maximus tempus massa, ut varius risus aliquet ut. Pellentesque ut nibh a purus porttitor
        pretium nec non ligula. Duis ac turpis venenatis, iaculis ipsum at, sagittis nibh.

        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam malesuada id velit
        nec dictum. Morbi scelerisque ligula velit, et mattis urna egestas venenatis. Duis aliquam neque ac convallis
        iaculis. Donec nulla dolor, pharetra nec convallis vel, cursus eu metus. Duis nibh ante, dignissim non turpis
        at, dignissim scelerisque nisl. Cras vel porta risus, vitae sagittis erat. Integer efficitur tellus eu varius
        finibus. Vivamus molestie id odio at cursus. Nam dictum efficitur rutrum. Duis blandit mollis purus non posuere.

        Donec sed libero tempus, bibendum neque sit amet, suscipit purus. Sed dictum eget nunc sit amet feugiat. Morbi
        finibus congue metus, at tempor diam laoreet eu. Suspendisse at venenatis arcu. Nulla sed lectus at erat
        bibendum tincidunt. Mauris non nibh vitae eros consectetur ultricies eu eget urna. Mauris sollicitudin mauris
        ultricies, cursus velit eget, semper est. Suspendisse a sem et lacus elementum suscipit. Nunc sagittis orci id
        nunc consectetur, id blandit tortor bibendum. Phasellus convallis porta orci, in dictum sapien auctor eu.
        Vestibulum in fermentum ex. Aenean faucibus risus nec lacus commodo bibendum. Suspendisse tempor vulputate sem,
        eget congue neque vestibulum ut.

        Morbi lacinia dictum risus, eget euismod est maximus in. Sed at dolor in dolor condimentum blandit eu quis elit.
        Suspendisse vel odio vitae libero volutpat venenatis ut in lacus. Sed accumsan maximus eros vitae sodales. Etiam
        convallis posuere tortor ut dictum. Ut finibus vulputate felis, quis ultricies ipsum dapibus in. Fusce nec lacus
        luctus, molestie dolor vel, maximus metus.

        Etiam nec odio et turpis lacinia laoreet. Vivamus ac rhoncus nunc, sit amet condimentum nunc. Vestibulum vitae
        cursus tortor, et cursus dui. Pellentesque at metus libero. In pretium ex ut lectus sagittis, sit amet auctor
        neque molestie. Quisque sollicitudin ornare dolor eget vestibulum. Nam dictum felis at libero pulvinar, ac
        ornare eros accumsan. Nunc ut erat nec nulla auctor varius. Proin vitae luctus enim, id pretium velit.</p>
</body>

</html>
